@model ProRecruit.CandidateQualification
@{
    ViewBag.Title = "Add Qualifications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Qualifications</h2>

@using (Html.BeginForm("AddCandidateQualifications", "CV"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <p>
            @Html.ActionLink("Next Step", "AddCandidateCertifications", "CV", null, new { @class = "btn btn-primary" })
        </p>
        <div id="multipleView"></div>
        @{
            ViewBag.Title = "Add your Qualifications";
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
        <h2>Add Your Qualifications</h2>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.DegreeLevel, "QualificationName", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DegreeLevelId", null, htmlAttributes: new { name = "DegreeLevelId", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DegreeLevel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DegreeType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="DegreeType" class="form-control"></select>
                @Html.ValidationMessageFor(model => model.DegreeType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Degreetitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Degreetitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Degreetitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MajorSubjects, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MajorSubjects, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MajorSubjects, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="Country" class="form-control"></select>
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">State</label>
            <div class="col-md-10">
                <select id="State" class="form-control"></select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="City" class="form-control"></select>
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Institution, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Institution, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Institution, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateCompleted, htmlAttributes: new { @class = "control-label col-md-2", @type = "date" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateCompleted, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateCompleted, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ResultType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ResultType, new List<SelectListItem>
                    {
                        new SelectListItem{ Text = "Select One" },
                        new SelectListItem{ Text = "Grade", Value = "Grade" },
                        new SelectListItem{ Text = "GPA", Value = "GPA" },
                        new SelectListItem{ Text = "Percentage", Value = "Percentage" }
                    }, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ResultType)
            </div>
        </div>

        <div id="divTotalGpa" class="form-group hidden">
            @Html.LabelFor(model => model.TotalGPA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="ddlTotalGPA" class="form-control">
                    <option value="">Select One</option>
                    <option value="4" dir="ltr">4</option>
                    <option value="5" dir="ltr">5</option>
                </select>
                @Html.ValidationMessageFor(model => model.TotalGPA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="divYourGpa" class="form-group hidden">
            @Html.LabelFor(model => model.YourGPA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="ddlYourGPA" class="form-control"></select>
                @Html.ValidationMessageFor(model => model.YourGPA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="divTotalGrade" class="form-group hidden" >
            @Html.LabelFor(model => model.TotalGrade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="ddlTotalGrade" class="form-control">
                    <option value="">Select One</option>
                    <option value="A+" dir="ltr">A+</option>
                    <option value="A" dir="ltr">A</option>
                    <option value="B+" dir="ltr">B+</option>
                    <option value="B" dir="ltr">B</option>
                    <option value="C+" dir="ltr">C+</option>
                    <option value="C" dir="ltr">C</option>
                    <option value="D+" dir="ltr">D+</option>
                    <option value="D" dir="ltr">D</option>
                </select>
                @Html.ValidationMessageFor(model => model.TotalGrade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="divTotalPercentage" class="form-group hidden">
            @Html.LabelFor(model => model.TotalPercentage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="ddlTotalPercentage" class="form-control"></select>
                @Html.ValidationMessageFor(model => model.TotalPercentage, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.City, new { id = "hiddenCity" })
        @Html.HiddenFor(model => model.Country, new { id = "hiddenCountry" })
        @Html.HiddenFor(model => model.DegreeType, new { id = "hiddenDegreeType" })
        @Html.HiddenFor(model => model.DegreeLevel, new { id = "hiddenDegreeLevel" })
        @Html.HiddenFor(model => model.TotalGrade, new { id = "hiddenTotalGrade" })
        @Html.HiddenFor(model => model.TotalGPA, new { id = "hiddenTotalGPA" })
        @Html.HiddenFor(model => model.YourGPA, new { id = "hiddenYourGPA" })
        @Html.HiddenFor(model => model.TotalPercentage, new { id = "hiddenTotalPercentage" })

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="Create" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "@Url.Action("QualificationMulitpleView", "CV")", success: function (result) {
                $("#multipleView").html(result);
            }
        });
        GetCountries();
        GetStates();
        GetCities();
    })

    $("#ResultType").change(function () {
        $("#divTotalGrade").addClass('hidden');
        $("#divTotalGpa").addClass('hidden');
        $("#divTotalPercentage").addClass('hidden');
        $("#divYourGpa").addClass('hidden');

        var val = $("#ResultType").val();

        if(val == 'Grade'){
            $("#divTotalGrade").removeClass('hidden');
        }
        if (val == 'GPA') {
            $("#divTotalGpa").removeClass('hidden');
        }
        if (val == 'Percentage') {
            $("#divTotalPercentage").removeClass('hidden');
            $.ajax({
                type: "POST",
                url: "/CV/RetrunValuesOfPercentage/",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $("#ddlTotalPercentage").empty().append('<option selected="selected" value="0">Please select</option>');
                    $.each(response, function () {
                        $("#ddlTotalPercentage").append($("<option></option>").val(this['Value']).html(this['Text']));
                    });
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            })
        }
    });

    $("#ddlTotalGPA").change(function () {
        $("#divYourGpa4").addClass('hidden');
        $("#divYourGpa5").addClass('hidden');
        $("#ddlYourGPA").empty();

        var val = $("#ddlTotalGPA").val();

        if (val == '4') {
            $("#divYourGpa").removeClass('hidden');
            $.ajax({
                type: "POST",
                url: "/CV/ReturnValuesOfGPA4/",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $("#ddlYourGPA").empty().append('<option selected="selected" value="0">Please select</option>');
                    $.each(response, function () {
                        $("#ddlYourGPA").append($("<option></option>").val(this['Value']).html(this['Text']));
                    });
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
                
            })
        }
        if (val == '5') {
            $("#divYourGpa").removeClass('hidden');
            $.ajax({
                type: "POST",
                url: "/CV/ReturnValuesOfGPA5/",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $("#ddlYourGPA").empty().append('<option selected="selected" value="0">Please select</option>');
                    $.each(response, function () {
                        $("#ddlYourGPA").append($("<option></option>").val(this['Value']).html(this['Text']));
                    });
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }

            })
        }
    });

    $("#Create").click(function () {
        var valCity = $("#City :selected").text();
        var valCountry = $("#Country :selected").text();
        var valDegreeType = $("#DegreeType").val();
        var valDegreeLevel = $("#DegreeLevelId").val();
        var valTotalGrade = $("#ddlTotalGrade").val();
        var valTotalGPA = $("#ddlTotalGPA").val();
        var valYourGPA = $("#ddlYourGPA").val();
        var valTotalPercentage = $("#ddlTotalPercentage").val();

        $("#hiddenCity").val(valCity);
        $("#hiddenCountry").val(valCountry);
        $("#hiddenDegreeType").val(valDegreeType);
        $("#hiddenDegreeLevel").val(valDegreeLevel);
        $("#hiddenTotalGrade").val(valTotalGrade);
        $("#hiddenTotalGPA").val(valTotalGPA);
        $("#hiddenYourGPA").val(valYourGPA);
        $("#hiddenTotalPercentage").val(valTotalPercentage);
    });

    $("#DegreeLevelId").change(function () {
        //var qualificationId = $("#QualificationId :selected").text();
        var qualificationId = $("#DegreeLevelId").val();
        var ddlQualificationTypes = $("#DegreeType");
        ddlQualificationTypes.empty();
        $.ajax({
            type: "POST",
            url: "/CV/GetTypesByQualification/" + qualificationId,
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                //if (!$.trim(data))
                //{
                //    $("#DegreeType").prop("disabled", true);
                //}
                //else {
                    ddlQualificationTypes.empty().append('<option selected="selected" value="0">Please select</option>');
                    $.each(response, function () {
                        ddlQualificationTypes.append($("<option></option>").val(this['Value']).html(this['Text']));
                    });
                //}
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });

    function GetCountries() {
        $.ajax({
            type: "GET",
            url: "http://api.geonames.org/countryInfoJSON?formatted=true&lang=en&style=full&username=hamzaws9",
            contentType: "application/json; charset=utf-8",
            dataType: "jsonp",
            success: function (data) {
                $("#Country").empty();
                $("#Country").append($('<option />', { value: -1, text: 'Select Country' }));
                $(data.geonames).each(function (index, item) {
                    $("#Country").append($('<option />', { value: item.geonameId, text: item.countryName }));
                });
            },
            error: function (data) {
                alert("Failed to get countries.");
            }
        });
    }

    function GetStates() {
        $("#Country").change(function () {
            GetChildren($(this).val(), "State", $("#State"));
        });
    }

    function GetCities() {
        $("#State").change(function () {
            GetChildren($(this).val(), "City", $("#City"));
        });
    };

    function GetChildren(geoNameId, childType, ddlSelector) {
        $.ajax({
            type: "GET",
            url: "http://api.geonames.org/childrenJSON?geonameId=" + geoNameId + "&username=hamzaws9",
            contentType: "application/json; charset=utf-8",
            dataType: "jsonp",
            success: function (data) {
                $(ddlSelector).empty();
                $(ddlSelector).append($('<option />', { value: -1, text: 'Select ' + childType }));
                $(data.geonames).each(function (index, item) {
                    $(ddlSelector).append($('<option />', { value: item.geonameId, text: item.name }));
                });
            },
            error: function (data) {
                alert("failed to get data");
            }
        });
    }
</script>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
