@model IEnumerable<ProRecruit.CandidateLanguage>

@{
    ViewBag.Title = "LanguageMultiple";
}

<h2>Your Languages</h2>

@if (!Model.Any())
{
    <p>You havent added any Languages yet</p>
}

else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LanguageTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProficiencyWithLanguage)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LanguageTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProficiencyWithLanguage)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

}

