@model IEnumerable<ProRecruit.CandidateProject>

@{
    ViewBag.Title = "ProjectMulitpleView";

}

<h2>Your Projects</h2>

@if (!Model.Any())
{
    <p>You havent added any Projects yet</p>
}

else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectDescription)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectDescription)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

}

