@model ProRecruit.Job

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="jumbotron">
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DatePublished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePublished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateApplyBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateApplyBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalaryRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaryRange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FunctionalArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FunctionalArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobShift)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobShift)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReqYearsOfExp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReqYearsOfExp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgeRequirement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgeRequirement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organization.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization.Name)
        </dd>

        
            @*Job Qualifications
        

        <dd>
            <table class="table-hover">
                <tr>
                    <th>Qualification</th>
                </tr>

                @foreach (var item in Model.JobQualifications.ToList())
                {
                    <tr>
                        <td>
                            @item.DegreeLevel
                        </td>
                    </tr>
                }

            </table>
        </dd>*@

    </dl>
</div>

<div class="jumbotron" id="QualificationMulitpleView"></div>
<br />
<div class="jumbotron" id="SkillMulitpleView"></div>
<br />

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>

    $(document).ready(function () {
        $.ajax({
            url: "@Url.Action("QualificationMulitpleView", "Jobs", new { id = Model.Id })", success:function (result)
            {
                $("#QualificationMulitpleView").html(result);
            }
        })
        $.ajax({
            url: "@Url.Action("SkillMulitpleView", "Jobs", new { id = Model.Id })", success:function (result)
            {
                $("#SkillMulitpleView").html(result);
            }
        })
    })
</script>
